--- 
interface Props {
  title?: string;
}

const { title = "Taxera eCompliance" } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <main class="bg-[whitesmoke]">
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body,
  main {
    height: 100%;
    width: 100%;
    margin: 0;
  }
</style>
